/*首页页首css*/

a {
    text-decoration: none;
}

body {
    background: #EFF2F5;
    font-family: PingFangSC-Regular;
}

nav {
    height: 60px;
}

.fc000 {
    color: #000;
}

.fcfff {
    color: #fff;
}

a {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6)
}

.nav {
    padding: 0 10%;
    height: 100%;
    background: #272727;
}

.nav ul li {
    width: 164px;
    float: left;
    display: block;
    color: #fff;
    height: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: 10px;
}

.navItem {
    text-align: center;
    width: 164px;
    line-height: 60px;
    height: 60px;
    display: inline-block;
}

.mlr25 {
    margin-left: 25px;
    margin-right: 25px;
}

.mlrat {
    margin-left: auto;
    margin-right: auto;
}

.plr25 {
    padding-left: 25px;
    padding-right: 25px;
}

.navItem.active {
    height: 57px;
    cursor: pointer;
    border-bottom: 3px solid #F9BE04;
    transition: all .5s;
}

.navItem.active a {
    font-weight: bold;
    color: #F9BE04;
}

.navItem a {
    vertical-align: middle;
}

.searchBar {
    padding: 6px 0;
    margin: 14px 0;
    background: #fff;
}

.searchType {
    color: #707070;
    border-color: #fff;
    margin-left: 5px;
}

.searchContent {
    border: none;
    border-left: 1px solid #CECECE;
}

.goSearch {
    background: url('../images/icon_search.png');
    width: 20px;
    height: 21px;
    line-height: 21px;
    margin-right: 10px;
    position: relative;
    top: 4px;
}


/**头部banner部分**/

header {
    height: 325px;
    margin: 20px 10%;
}

.img-slider-content {
    width: 430px;
    height: 100%;
}

.photoContainer {
    transition: left 1s;
    left: 0;
    width: 430px;
    height: 325px;
    overflow: hidden;
}

.sidePicContent {
    margin-left: 5px;
    width: 430px;
    height: 325px;
}

.sildePic {
    width: 430px;
    height: 325px;
}

.sliderNav {
    width: 430px;
    z-index: 10;
    top: 130px;
}

.prev {
    width: 50px;
    height: 50px;
    background: url("../images/icon_arrow_drop_down.png");
    background-size: 100%;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.next {
    width: 50px;
    height: 50px;
    background: url("../images/icon_arrow_drop_down.png");
    background-size: 100%;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.picIconPointer {
    width: 120px;
    z-index: 10;
    top: -75px;
    left: 160px;
}

.picIcon {
    transition: width .5s;
    height: 8px;
    width: 8px;
    background: #F9BE04;
    border-radius: 50%;
}

.picIcon.onshow {
    border-radius: 25px;
    background: #F9BE04;
    width: 20px;
}

.sliderSlogan {
    z-index: 5;
    text-align: center;
    top: 277px;
    height: 48px;
    background: rgba(0, 0, 0, 0.6);
    width: 430px;
}

.sliderSlogan strong {
    color: #ff0000;
    line-height: 48px;
}

.sliderSlogan a {
    line-height: 48px;
}

.sidePic {
    width: 190px;
    height: 160px;
}

.sidePic img {
    width: 190px;
    height: 160px;
}

.sidePicSlogan {
    background: rgba(0, 0, 0, 0.6);
    top: 100px;
    height: 60px;
    text-align: center;
}

.sidePicSlogan a {
    margin: 8px 10px 10px 11px;
    overflow: hidden;
    line-height: 21px;
}

header aside {
    background: #fff;
    overflow: hidden;
    float: left;
    width: 280px;
    height: 320px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

main aside {
    background: #fff;
    overflow: hidden;
    float: left;
    width: 280px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

aside li {
    white-space: nowrap;
    width: 280px;
    overflow: hidden;
}

aside a {
    font-size: 14px;
    color: #363636;
    line-height: 25px;
    white-space: nowrap;
}

.headerAsideHot {
    background: #206698;
    margin-top: 20px;
    border-radius: 4px;
    width: 92px;
    height: 32px;
    text-align: center;
}

.hotSpot li {
    display: inline-block;
    margin: 0;
    white-space: normal;
    display: inline;
}

.hotSpot li::before {
    content: none;
}

.headerAsideNotice {
    border-radius: 4px;
    background: #206698;
    width: 92px;
    height: 32px;
    text-align: center;
}

.headerAsideMonthly a,
.headerAsideLatest a,
.headerAsideSurvey a,
.headerAsideNotice a {
    line-height: 32px;
}

.headerAsideMonthly {
    margin-top: 20px;
    border-radius: 4px;
    background: #206698;
    width: 92px;
    height: 32px;
    text-align: center;
}

.headerAsideSurvey {
    border-radius: 4px;
    background: #F9BE04;
    width: 92px;
    height: 32px;
    text-align: center;
}

.headerAsideSurvey a {
    color: #363636;
}

aside li {
    margin: 12px 0;
}

.notice li::before {
    background-color: #206698;
}

.mothly li::before,
.comment li::before {
    background-color: #52A3FF;
}

.survey li::before {
    background: #F9BE04;
}

aside li:before {
    content: "";
    margin-left: 12px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
}

.mainTitle {
    width: 200px;
}

.mainTitle h4 {
    color: #363636;
    font-weight: 800;
}

main {
    margin: 20px 10%;
}

.mainContianer li {
    width: 190px;
    height: 230px;
    float: left;
    margin-right: 7px;
    margin-right: 20px;
}

.mainPic {
    height: 200px;
    transition: background 1s;
    padding: 13px;
}

main li:hover .mainPic {
    background: #fff;
}

main li img {
    width: 190px;
    height: 156px;
    display: block;
}

.mainPicStatement {
    display: block;
    width: 190px;
    font-size: 14px;
    color: #363636;
    line-height: 21px;
}

.mainContianer {
    width: 900px;
}

article {
    width: 1440px;
    height: 230px;
    margin: 20px 10% 69px 10%;
}

.articleTitle {
    margin: 17px 0 5px 0;
    width: 92px;
    height: 32px;
    background: #206698;
    border-radius: 5px;
    text-align: center;
}

.articleTitle a {
    line-height: 32px;
}

article aside {
    width: 280px;
    background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

article aside {
    float: left;
}

article aside li {
    margin-bottom: 12.1px;
}

footer {
    background: #272727;
    width: 80%;
    padding: 0 10%;
    height: 190px;
}

.navBottom {
    text-align: center;
    height: 113px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navBottom ul {
    padding-top: 38px;
    width: 289px;
}

.navBottom ul a,
span {
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.navBottom .searchBar {
    top: -40px;
    left: 490px;
}

.copyright span {
    opacity: 0.5;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 73px;
    line-height: 74px;
}

.headerAsideLatest {
    background: #52A3FF;
    margin-top: 20px;
    border-radius: 4px;
    width: 92px;
    height: 32px;
    text-align: center;
}

article {
    height: 400px;
}

.focusContainer {
    width: 940px;
    height: 400px;
}

.menuBar {
    margin-right: 10px;
    width: 98%;
    border-bottom: 2px solid #F9BE04;
}

.menuBar li.onchoose {
    background: #F9BE04;
}

.menuBar a {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    color: #363636;
    line-height: 40px
}

.focusContent li {
    padding-top: 16.6px;
}

.focusContent a,
.focusContent span {
    font-size: 14px;
    color: #363636;
    line-height: 20px;
}

.more {
    color: #206698 !important;
}