header {
    height: 22px;
}

header a,
header span {
    font-size: 14px;
    color: #363636;
}

article {
    background: #fff;
    width: 56.9%;
}

.essayTitle {
    padding-top: 37px;
    text-align: center;
}

.essayTitle h1 {
    font-size: 20px;
    color: #363636;
    line-height: 28px;
}

.articleInfo {
    padding: 13px 0 32px;
    text-align: center;
    border-bottom: 1px solid #EBEBEB;
}

.articleInfo span {
    color: #AEAEAE;
}

.cover {}