.mainTitle h4 {
    color: #363636;
    font-weight: 800;
}

main {
    margin: 20px 10%;
}

main li {
    width: 190px;
    height: 230px;
    float: left;
    margin-right: 7px;
    margin-right: 20px;
}

.mainPic {
    height: 200px;
    transition: background 1s;
    padding: 13px;
}

main li:hover .mainPic {
    background: #fff;
}

main img {
    width: 190px;
    height: 156px;
    display: block;
}

.mainPicStatement {
    display: block;
    width: 190px;
    font-size: 14px;
    color: #363636;
    line-height: 21px;
}

.mainContianer {
    width: 900px;
}